<div class="well">
  <h4>Usage reference</h4>
  <p>[type]search query</p>
  <ul>
    <li>post</li>
    <li>page</li>
    <li>user</li>
    <li>event</li>
    <li>group</li>
    <li>place</li>
  </ul>
  <p>Example: If you wanted to find pages with chunky bacon in nairobi you'd enter: `[page] chunky bacon`</p>
</div>
